# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build / Cache
# =========================
dist/
build/
.cache/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Testing
# =========================
coverage/

# =========================
# Misc
# =========================
*.pid
*.seed
*.pid.lock
